services:
  - type: static
    name: ilce-sekreterlik
    branch: version1
    rootDir: "Desktop/sekret-ilce/sekreterlik4/sekreterlik-app/client"
    buildCommand: npm install && npm run build && node scripts/fix-spa-routing.js
    staticPublishPath: "dist"
    envVars:
      - key: VITE_USE_FIREBASE
        value: true
      - key: VITE_ENCRYPTION_KEY
        value: ilsekreterlik-app-encryption-key-2024-secret-very-long-key-for-security-minimum-32-characters

